* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #F9EDDC;
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*header styles*/
header, #header-home {
  width: 100vw;
  height: 70px;
  font-weight: 800;
  font-size: 15px;
  background-color: rgba(249, 237, 220, 0.8);
  text-transform: uppercase;
  display: flow-root;
  margin: 0px auto;
  position: fixed;
  top: 0px;
  z-index: 3;
}
nav {
  float: right;
}
.logo {
  width: 70px;
  height: 70px;
  margin-left: 20px;
  margin-top: 1px;
  float: left;
}
.by-me {
  width: 400px;
  font-size: 20px;
  position: absolute;
  top: -3px;
  left: 120px;
}
/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  transition: 0.4s;
}
.dropbtn {
  background-color: transparent;
  font-size: 16px;
  border: none;
  padding: 25px 60px;
  margin-right: 20px;
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  color: #2C2130;
  transition: 0.4s;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-size: 14px;
  display: none;
  position: absolute;
  background-color: #EADBC7;
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  min-width: 173px;
  z-index: 1;
  transition: 0.4s;
}
.dropdown-content-home {
  font-size: 14px;
  display: none;
  position: absolute;
  background-color: #EADBC7;
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  min-width: 173px;
  z-index: 1;
  transition: 0.4s;
}

/* Links inside the dropdown */
.dropdown-content-home a {
  color: #2C2130;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.4s;
}
.dropdown-content a {
  color: #2C2130;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.4s;
}

/* Change color of dropdown links on hover */
.dropdown-content-home a:hover {
  background-color: #DCB6D7;
  color: #2C2130;
}
.dropdown-content a:hover {
  background-color: #DCB6D7;
  color: #2C2130;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropdown-content-home {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  text-decoration: underline;
  color: #DCB6D7;
}

.gif-container {
  width: 100vw;
}
.gif-container img {
  width: 100vw;
}
.home-bg {
  width: 100%;
  /*background-color: green;*/
  margin: 0px;
  padding-top: 200px;
  padding-bottom: 100px;
}
.slogan {
  margin-left: 118px;
  /*background-color: blue;*/
}
h1 {
  font-size: 80px;
  width: 70vw;
  max-width: 900px;
  margin: 0px;
  color: #2C2130;
}
.featured-wrap {
  margin: 0px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: calc(100% - 250px);
  margin-left: 118px;
  margin-right: 118px;
  margin-bottom: 50px;
}
.feat-image-cont {
  background-color: #EADBC7;
  width: 100%;
  height: 20vw;
  /*height: 400px; ---- keep if you want the squares to maintain height while having responsive width*/
  position: relative;
  text-align: center;
}
.feat-image-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(44, 33, 48, 0.8)
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #F9EDDC;
  font-size: 30px;
}
#social-bg img {
  width: 700px;
  height: auto;
  object-fit: contain;
}
.feat-image-cont:hover .overlay {
  opacity: 1;
}
/*CAROUSEL
.carousel {
  overflow: hidden;
  padding: 60px 0;
  background-color: white;
  white-space: nowrap;
  position: relative;
}
.carousel:hover .carousel-item {
  animation-play-state: paused;
}
.indiv-item:hover {
  border: 2px solid #DCB6D7;
}
.carousel:before,
.carousel:after {
  position: absolute;
  top: 0;
  width: 10vw;
  height: 100%;
  content: ""; /*when you have a before and after you have to pput a content property
  z-index: 2;
}
.carousel:before {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #F9EDDC) ;
}
.carousel:after {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #F9EDDC) ;
}
.carousel-item {
  display: inline-block;
  animation: 35s carousel infinite linear;
}
.carousel-item img {
  height: 300px;
  margin: 0 40px;
  object-fit: cover;
}
@keyframes carousel {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}*/
h2 {
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color:#2C2130;
  margin: 0px auto;
  margin-top: 100px;
  padding: 0px;
}

h3 {
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 0px;
  margin-bottom: 10px;
  color:#2C2130;
}
h4 {
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin: 0px;
  margin-bottom: 10px;
  color:#2C2130;
}
h5 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2C2130;
  margin: 0px;
  font-style: italic;
}
p {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 2;
  color: #2C2130;
}
.by-me {
  font-family: "Averia Sans Libre", sans-serif;
}
ul {
  font-family: "Averia Sans Libre", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #2C2130;
  line-height: 2;
  padding: 0;
  margin: 0;
}
/*#company-name {
  position: absolute;
  top: 400px;
  left: -275px;
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
/*  animation: glow 2s ease-in-out infinite alternate;
}*/
#my-name {
  font-size: 16px;
  float: left;
  font-weight: 400;
  position: absolute;
  top: 30px;
  right: 60px;
  z-index: 3;
}

.label-wrapper {
  width: 100vw;
  height: auto;
/*  background-color: blue;*/
}
.sub-page-label {

  margin-bottom: 50px;
  margin-left: 118px;
}
.sub-page-label-2 {
  margin-top: 100px;
  margin-left: 118px;
}

/*BIB*/
.content-wrap {
  width: 85%;
  height: 600px;
  margin-left: 118px;
  margin-top: 175px;
  margin-bottom: 100px;
  background-color: green;
}
.left, .right {
  height: 600px;
  float: left;
}
.left {
  width: 30%;
  max-width: 600px;
  background-color: red;
  margin-right: 50px;
}
.right { 
  width: calc(70% - 50px);
  background-color: blue;
}
/*ABOUT ME*/
.home-content-wrap {
  width: 100vw;
  height: 800px;
}
/*#about-me-title {
  font-size: 90px;
  margin-top: 0;
  margin-bottom: 30px;
}
#about-me-title h2 {
  font-weight: 700;
}*/
.home-content-text-left {
  max-width: 460px;
  margin-left: 20vw;
  margin-right: 40px;
  margin-bottom: 30px;
  float: left;
}
.portrait-wrap-right {
  float: left;
  max-width: 400px;
  margin-left: 7vw;
}
.portrait-wrap-right img {
  width: 100%;
}
.download-btn {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #DCB6D7;
  color: #2C2130;
  font-family: "Averia Sans Libre", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  display: inline-block;
}
/*CASE STUDY*/
#case-study-title h2 {
  /*font-weight: 700;*/
  padding-top: 80px;
  color: #F9EDDC;
}
#case-study-subtitle {
  font-size: 50px;
  color: #F9EDDC;
}
.case-study-text {
  color: #F9EDDC;
}
.case-study-bg {
  width: 100vw;
  height: 1000px;
  background-color: #2C2130;
}
.home-content-text-right {
  max-width: 460px;
  margin-left: 7vw;
  margin-top: 100px;
  margin-bottom: 30px;
  margin-right: 40px;
  float: left;
}
.portrait-wrap-left {
  float: left;
  max-width: 400px;
  margin-left: 20vw;
  margin-right: 40px;
  margin-top: 100px;
}
.portrait-wrap-left img {
  width: 100%;
}
/*LOGOS*/
.logo-text {
  width: 100%;
/*  background-color: blue;*/
  max-width: 400px;
  margin-top: 40px;
  float: right;
}
.neko-logo-bg {
/*  background-color: orange;*/
  width: 100%;
  height: 45vw;
  min-height: 550px;
  margin-top: 70px;
  background-image: url("../images/logos/neko-bg.png");
}
.neko-logo-container {
  width: 50vw;
  height: auto;
  min-width: 290px;
  min-height: auto;
  position: relative;
  top: 90px;
  left: 10vw;
/*  background-color: red;*/
}
.neko-logo-container img {
  width: 100%;
  height: auto;
}
.neko-logo-container p {
  color: #F9EDDC;
}
.psdh-logo-bg {
/*  background-color: orange;*/
  width: 100%;
  height: 53vw;
  min-height: 640px;
  background-image: url("../images/logos/psdh-bg.png");
}
.psdh-logo-container {
  width: 50vw;
  height: auto;
  min-width: 290px;
  min-height: auto;
  position: relative;
  top: 90px;
  left: 10vw;
/*  background-color: red;*/
}
.psdh-logo-container img {
  width: 70%;
  min-width: 270px;
  height: auto;
}
.psdh-logo-container p {
  color: #F9EDDC;
}

/*GMU*/
.gmu-container {
  margin: 0px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: 80%;
  margin-left: 10%;
  margin-bottom: 50px;
}

.new-image-cont img {
  width: 100%;
  display: block;
  aspect-ratio: 4/5;
  object-fit: cover;
}

.square-image-cont img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
}

/*PROJECTS*/
.projects-decor {
  width: 1300px;
  height: auto;
  opacity: 10%;
  position: absolute;
  top: 200px;
  right: -300px;
  transform: rotate(-30deg);
}
.projects-content {
  width: 80%;
  height: 1000px;
  margin: 0px auto;
/*  background-color: grey;*/
}
.year-wrap {
  width: 100%;
/*  height: 300px;*/
/*  background-color: darkred;*/
}
.year-wrap h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}
.year {
  width: 80%;
  height: 100%;
  margin-top: 50px;
}
/*.year-left {
  background-color: darkgreen;
}
.year-right {
  background-color: purple;
}
*/

/*FRACTAL NOISE*/
.video-wrapper {
  max-width: 80%;
  margin: 0px auto;
  margin-bottom: 100px;
}
.fractal-video {
  width: 100%;
}
/*TYPE CLASS CARDS*/
.grid-wrapper {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 50px;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1%;
  column-gap: 1%;
  margin-bottom: 30vw;
}
.card-grid img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
/*OTHER*/
.bib-wrapper, .menu-wrapper, .redirect-wrapper, .moth-wrapper {
  max-width: 80%;
  margin: 0px auto;
}
.bib-wrapper img {
  width: 100%;
  margin-bottom: 30px;
}
.menu-wrapper img {
  width: 100%;
  margin-bottom: 30px;
}
.moth-wrapper img {
  width: 100%;
  margin-bottom: 30px;
}

/*SOCIAL MEDIA*/
.sm-grid-wrapper {
  max-width: 80%;
  margin-left: 200px;
  margin-right: 50px;
}
.sm-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}

/*TEMPEST*/
.tempest-image, .tempest-video {
  width: 30%;
  max-width: 400px;
  min-width: 260px;
  margin-bottom: 100px;
  height: auto;
}
.tempest-image {
  margin-left: 10%;
  margin-right: 60px;
}
#tempest-label {
  margin-bottom: 70px;
}

/*NAVY CATS*/
.iframe-wrap-desktop-1 {
  width: 80vw;
  height: 44.8vw;
  margin: 0px auto;
  margin-bottom: 100px;
}
.iframe-wrap-desktop-2 {
  width: 80vw;
  height: 45vw;
  margin: 0px auto;
  margin-bottom: 100px;
}
.iframe-wrap-mobile {
  width: 12.81vw;
  height: 34.16vw;
  margin-left: 10vw;
  margin-bottom: 50px;
  float: left;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}
/*MY BRAND*/
.slide-wrap {
  width: 100%;
  height: 1500px;
  background-color: red;
}
.slide-wrapper {
  width: 75vw;
  height: auto;
  margin: 0px auto;
  margin-bottom: 50px;
}
.slide-wrapper img {
  width: 100%;
  border: 1px solid #2c2130;
}
/*REDIRECT*/
.redirect-wrap {
/*  background-color: blueviolet;*/
  width: 100%;
  height: 600px;
}
#what-is-redirect {
  width: 61vw;
  height: 34.16vw;
  margin-left: 5vw;
  margin-bottom: 50px;
  float: left;
}
#what-is-redirect img {
  width: 100%;
  height: 100%;
}
.redirect-image-wrap {
  width: 61vw;
  height: 34.16vw;
  margin: 0px auto;
  margin-bottom: 50px;
}
.redirect-image-wrap img {
  width: 100%;
  height: 100%;
}
/*FILM POSTER*/
.poster-container {
  width: 100vw;
  height: 1600px;
/*  background-color: blue;*/
  padding-top: 100px;
}
.poster-wrapper {
  width: 35%;
  margin-left: 10%;
  float: left;
}
.poster-wrapper img {
  width: 100%;
  max-width: 500px;
  min-width: 280px;
}
.poster-desc {
  margin-left: 5vw;
  margin-right: 20px;
  float: left;
/*  background-color: purple;*/
}
.poster-wrapper-2 {
  width: 80%;
  height: 500px;
  margin-left: 10%;
  margin-top: 100px;
/*  background-color: blue;*/
  float: left;
}
.poster-wrapper-2 img {
  width: 100%;
  max-width: 300px;
  margin-right: 2vw;
  margin-bottom: 40px;
  height: auto;
}
.poster-subtitle {
  width: 400px;
  margin-bottom: 30px;
}
.poster-brief {
  width: 600px;
  margin-top: 0;
/*  background-color: green;*/
}

/*FOOTER*/
.footer-container {
  padding: 0;
  margin: 0;
  background-color: #EADBC7;
  padding-bottom: 4rem;
}
.footer {
  padding: 0;
  margin: 0;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.footer-heading-footer-1, .footer-heading-footer-2, .footer-heading-footer-3, .footer-heading-footer-4, .footer-heading-footer-5 {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  margin-top: 50px;
}
.footer-heading-footer-5 {
  display: inline-block;
}
.footer-heading-footer-4 p {
  padding: 0;
  margin: 0;
}
h6 {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-size: 23px;
}
.footer-heading-footer-1 img {
  width: 200px;
  height: auto;
}
.icon-container {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
}
.footer-heading-footer-5 img {
  width: 100%;
  height: auto;
}
.quick-links {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

}

/*PRIDE*/
.pride-container {
  width: 100%;
  height: 1000px;
/*  background-color: green;*/
}
.pride-wrapper-1 {
  width: 35%;
  max-width: 500px;
  min-width: 260px;
  margin-left: 10%;
/*  background-color: red;*/
  float: left;
}
.pride-wrapper-1 img {
  width: 100%;
}
.pride-wrapper-2 {
  width: 35%;
  max-width: 500px;
  min-width: 260px;
  margin-left: 10%;
/*  background-color: blue;*/
  float: left;
}
.pride-wrapper-2 img {
  width: 100%;
}
/*PSEUDO CLASSES*/
/*h1:hover {
  color: #ffd137;
}*/
a {
  text-decoration: none;
}
a:link {
  color: #2C2130;
  transition: 0.4s;
}
/* visited link */
a:visited {
  color: #2C2130;
}
/* mouse over link */
a:hover {
  color: #DCB6D7;
}
/* selected link */
a:active {
  color: #a443b3;
}
.game-link:link {
  text-decoration: underline;
  color: #F9EDDC;
  transition: 0.4s;
}
.game-link:hover {
  color: #DCB6D7;
}
.case-study-text a {
  color: #F9EDDC;
}
.case-study-text a:hover {
  color: #DCB6D7;
}
.download-btn:link {
  color: #2C2130;
  background-color: #DCB6D7;
}
.download-btn:hover {
  background-color: #ffd137;
}
/* width */
::-webkit-scrollbar {
  display: none;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1098px) {
  .list-wrapper {
    width: 100%;
  }
  .year {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 1686px) {
  .poster-container {
    height: 2100px;
  }
  .poster-wrapper {
    margin-bottom: 50px;
  }
  .poster-wrapper-2 {
    width: 700px;
    float: left;
  }
}
@media screen and (max-width: 1310px) {
  .home-content-wrap {
    height: 1200px;
  }
  #about-me-title {
    margin-bottom: 20px;
  }
  .home-content-text-left {
    margin-right: 20px;
    margin-top: 0;
  }
  .portrait-wrap-right {
    float: none;
    max-width: 400px;
    margin-left: 20vw;
  }
  .home-content-text-right {
    margin-left: 20vw;
    margin-top: 0px;
  }
  .case-study-bg {
    height: 1300px;
  }
  #case-study-title {
    margin-bottom: -42px;
    margin-top: 70px;
  }
  #case-study-subtitle {
    margin-bottom: 0px;
  }
  .poster-container {
    height: 2850px;
  }
  .poster-wrapper {
    float: none;
  }
  .poster-desc {
    float: none;
    margin-top: 30px;
  }
}
@media screen and (max-width: 863px) {
  .year-wrap {
    margin: 0px auto;
/*    background-color: darkred;*/
  }
  .year-left, .year-right {
    width: 100%;
    margin-bottom: 50px;
    float: none;
    padding-right: none;
  }
  footer {
    height: 500px;
  }
  .footer-content-left, .footer-content-centerL, .footer-content-centerR, .footer-content-right {
    width: 100%;
  }
  .footer-content-left {
/*    background-color: red;*/
    height: 30%;
  }
  .footer-content-centerL {
    height: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .footer-content-centerL h3 {
    margin-top: 0px;
  }
  .footer-content-centerR {
    height: 15%;
  }
  .footer-content-right {
    height: 30%;
  }
  .social-links, .page-links {
    float: left;
  }
  .page-links {
    display: inline-block;
    margin-right: 20px;
  }
  .footer-content-centerR ul {
    padding: 0;
  }
  .footer-content-right ul {
    padding: 0;
  }
}
@media screen and (max-width: 833px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-grid {
    row-gap: 0.25%;
    margin-bottom: 60vw;
  }
  .pride-wrapper-1 {
    float: none;
  }
  .pride-wrapper-2 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 740px) {
  .dropbtn {
    padding: 25px 30px;
    margin-right: 0;
  }
  .tempest-image {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 600px) {
  .by-me {
    color: transparent;
  }
  .sub-page-label {
    margin-left: 7vw;
  }
  #about-me-title{
    margin-left: 7vw;
  }
  #about-me-title h2{
    font-size: 50px;
  }
  .home-content-text-left {
    margin-left: 7vw;
  }
  .portrait-wrap-right {
    width: 80vw;
    margin-left: 7vw;
  }
  #case-study-title {
    margin-bottom: -23px;
    margin-left: 7vw;
  }
  #case-study-title h2 {
    font-size: 50px;
  }
  .home-content-text-right {
    margin-left: 7vw;
  }
  .portrait-wrap-left {
    margin-left: 7vw;
  }
  .menu-wrapper {
    margin-left: 7vw;
  }
  .tempest-video, .tempest-image {
    margin-left: 7vw;
  }
  .poster-wrapper, .poster-desc {
    margin-left: 7vw;
  }
  .gmu-container {
    margin-left: 7vw;
  }
  ul {
    font-size: 16px;
    color: #DCB6D7;
    line-height: 2;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 394px) {
  .projects-content {
    height: 1200px;
  }
}
@media screen and (max-width: 380px) {
  .neko-logo-container, .psdh-logo-container {
    left: 7vw;
  }
  .gmu-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}
@media screen and (max-width: 330px) {
  .home-content-wrap {
    height: 1250px;
  }
}
