* {
  box-sizing: border-box;
  /*overflow-x: hidden; */
}
body {
  margin: 0;
  background-color: #FFFBF3;
  font-family: "brevia", sans-serif;
  font-weight: 500;
  font-style: normal;
  overflow-x: hidden; 
}

/*header styles*/
header {
  width: 100vw;
  display: flow-root;
  margin: 0px auto;
  position: fixed;
  top: 0px;
  z-index: 3;
}
/*header:hover {
  background-color: #CAA1EB;
  transition: 0.4s ease;
}*/
/*#header-home:hover {
  background-color: #403282;
  transition: 0.4s ease;
}*/
nav {
  float: right;
}
.logo-home {
  width: 300px;
  height: auto;
  margin-left: -30px;
  margin-top: -30px;
  rotate: 25deg;
  float: left;
  transition: 0.4s ease;
}
.logo {
  width: 100px;
  margin-left: 40px;
  margin-top: 20px;
  height: auto;
  float: left;
  transition: 0.4s ease;
}
.slogan {
  margin-top: 30px;
  margin-left: 300px;
  transition: 0.4s ease;
  /*background-color: blue;*/
}
h1 {
  font-size: 120px;
  margin: 0px;
  color: #1D1F5A;
  line-height: 1;
  transition: 0.4s ease;
}
#visual-designer {
  font-size: 35px;
  color: #CAA1EB;
  font-family: "gantari", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.4s ease;
}

.section-wrap {
  width: auto;
  height: auto;
  margin-right: 20px;
  color: #1D1F5A;
  float: right;
  transition: 0.4s ease;
}
.sections {
  float: left;
  line-height: 1.5;
  margin-right: 30px;
  list-style-type: none;
  transition: 0.4s ease;
}
.sections li {
  font-size: 30px;
  font-family: "gantari", sans-serif;
  font-weight: 500;
  transition: 0.4s ease;
}

.grid {
  width: 95%;
  margin: 0px auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(500px, auto);
  column-gap: 20px;
  row-gap: 1em;
  transition: 0.4s ease;
}
.grid-item {
  border-radius: 10px;
  transition: 0.4s ease;
  /*background-color: red;*/
}
.featured-img-wrap {
  border-radius: 10px;
  width: 100%;
  height: 450px;
  background-color: blue;
}
.featured-img-wrap img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-item h3 {
  font-size: 30px;
  font-family: "gantari", sans-serif;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
  color: #1D1F5A;
  text-transform: none;
  transition: 0.4s ease;
}
.grid-item h6 {
  font-size: 18px;
  font-family: "gantari", sans-serif;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
  color: #1D1F5A;
  transition: 0.4s ease;
}








/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
  transition: 0.4s;
}
.dropbtn {
  background-color: transparent;
  font-size: 25px;
  border: none;
  padding: 30px 60px 39px 60px;
  margin-right: 20px;
  font-family: "gantari", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #1D1F5A;
  text-underline-offset: 8px;
  transition: 0.4s ease;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-size: 20px;
  display: none;
  position: absolute;
  background-color: #CAA1EB;
  font-family: "gantari", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  min-width: 173px;
  z-index: 1;
  transition: 0.4s ease;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: #FFFBF3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.4s ease;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #92d2f5;
  color: #1D1F5A;
  transition: 0.4s ease;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.4s ease;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  text-decoration: underline 2px;
  color: #403282;
  transition: 0.4s ease;
}


.gif-container {
  width: 100vw;
}
.gif-container img {
  width: 100vw;
}
.sections-wrap {
  margin: 0px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: calc(100% - 250px);
  margin-left: 118px;
  margin-right: 118px;
  margin-top: 20px;
  transition: 0.4s ease;
  /*background-color: red;*/
}
.sections-image-cont {
  background-color: #403282;
  width: 100%;
  height: 20rem;
  border-radius: 1%;
  /*height: 400px; ---- keep if you want the squares to maintain height while having responsive width*/
  position: relative;
  text-align: center;

}
.feat-image-cont img {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  object-fit: cover;
}
.sections-image-cont img {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  object-fit: cover;
}

.sections-image-cont:hover {
  background-color: #caa1eb;
  transition: .5s ease;
}

/*CAROUSEL
.carousel {
  overflow: hidden;
  padding: 60px 0;
  background-color: white;
  white-space: nowrap;
  position: relative;
}
.carousel:hover .carousel-item {
  animation-play-state: paused;
}
.indiv-item:hover {
  border: 2px solid #DCB6D7;
}
.carousel:before,
.carousel:after {
  position: absolute;
  top: 0;
  width: 10vw;
  height: 100%;
  content: ""; /*when you have a before and after you have to pput a content property
  z-index: 2;
}
.carousel:before {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #F9EDDC) ;
}
.carousel:after {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #F9EDDC) ;
}
.carousel-item {
  display: inline-block;
  animation: 35s carousel infinite linear;
}
.carousel-item img {
  height: 300px;
  margin: 0 40px;
  object-fit: cover;
}
@keyframes carousel {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}*/
h2 {
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  color: #1D1F5A;
  margin: 0px auto;
  padding: 0px;
}

h3 {
  font-family: "gantari", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  margin: 0px;
  margin-bottom: 10px;
  color: #1D1F5A;
}

h4 {
  font-family: "gantari", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  margin: 0px;
  margin-left: 2.5%;
  margin-bottom: 10px;
  color: #1D1F5A;
  text-transform: uppercase;
}
h5 {
  font-family: "gantari", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #1D1F5A;
  margin: 0px;
  font-style: italic;
}
p {
  font-family: "gantari", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  color: #1D1F5A;
}
.by-me, .by-me-home {
  font-family: "brevia", sans-serif;
  font-weight: 600;
  line-height: 2;
  font-style: normal;
}

.label-wrapper {
  width: 100%;
  height: auto;
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
  /*background-color: blue;*/
}
.sub-page-label {
  width: 100%;
  height: auto;
}

.a-project-wrap {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.full {
  width: 95%;
  height: auto;
  margin: 0px auto;
  border-radius: 10px;
}
.full img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.double-wrap {
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(500px, auto);
  column-gap: 40px;
  margin: 0px auto;
  margin-top: 18px;
}
.double {
  width: 100%;
  height: auto;
  float: left;
}
.double-text {
  width: 100%;
  height: auto;
  float: left;
  max-width: 720px;
}
.double img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.double-text p {
  font-family: "gantari", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #1D1F5A;
  margin: 0;
}

/*PROJECTS*/
.projects-wrap {
  margin: 0px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: calc(100% - 250px);
  margin-left: 118px;
  margin-right: 118px;
  margin-top: 20px;

}
.projects-image-cont {
  background-color: #EADBC7;
  width: 100%;
  height: 20rem;
  border-radius: 1%;
  /*height: 400px; ---- keep if you want the squares to maintain height while having responsive width*/
  position: relative;
  text-align: center;
}
.projects-image-cont img {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  object-fit: cover;
}
.projects-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 1%;
  transition: .5s ease;
  background-color: rgba(44, 33, 48, 0.8);
}
.projects-image-cont:hover .projects-overlay {
  opacity: 1;
}


/*BIB*/
.content-bg {
  width: 100vw;
  height: flex;
  /*background-color: red;*/
}
.content-wrap {
  width: 85%;
  /*height: 112vw;*/
  display: flex;
  margin-left: 118px;
  margin-top: 175px;
  margin-bottom: 100px;
}
.content-wrap img {
  width: 100%;
  margin-bottom: 70px;
}
.content-wrap-2 {
  width: 85%;
  /*height: 112vw;*/
  display: flex;
  margin-left: 118px;
}
.content-wrap-2 img {
  margin: 0;
  width: 100%;
  margin-bottom: 50px;
}
.content-wrap-3 {
  width: 85%;
  /*height: 112vw;*/
  display: inline-block;
  margin-left: 118px;
}
.content-wrap-3 img {
  margin: 0;
  width: 100%;
  margin-bottom: 50px;
}
.left, .right {
  margin-bottom: 50px;
}
.left {
  width: 30%;
  max-width: 375px;
  margin-right: 50px;
  float: left;
}
.right { 
  width: 80%;
  /*background-color: blue;*/
  /*float: right;*/
}
.right img {
  width: 100%;
  margin-bottom: 20px;
}

.campaign-title {
  margin-left: 118px;
  margin-top: 40px;
}
.campaign-title h3 {
  font-size: 50px;
  font-family: "brevia", sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;
}
.campaign-title h5 {
  font-family: "gantari", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #1D1F5A;
  margin: 0px;
  font-style: none;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.left-with-img {
  width: 550;
  min-width: 550px;
  max-width: 550px;
  margin-right: 50px;
  float: left;
}
.left-image-cont {
  width: 100%;
}
.left-image-cont img {
  border-radius: 1%;
}
.right-text {
  margin-left: 0px;
  max-width: 700px;
}
.button {
  padding: 16px 32px;
  border-radius: 5px;
  background-color: #CAA1EB;
  color: #1D1F5A;
  font-family: "gantari", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  border: none;
  display: inline-block;
  transition: 0.4s;
  margin-top: 15px;
}
/*LOGOS*/
.logo-text {
  width: 100%;
/*  background-color: blue;*/
  max-width: 400px;
  margin-top: 40px;
  float: right;
}
.neko-logo-bg {
/*  background-color: orange;*/
  width: 100%;
  height: 45vw;
  min-height: 550px;
  margin-top: 90px;
  background-image: url("../images/logos/neko-bg.png");
}
.neko-logo-container {
  width: 50vw;
  height: auto;
  min-width: 290px;
  min-height: auto;
  position: relative;
  top: 90px;
  left: 10vw;
/*  background-color: red;*/
}
.neko-logo-container img {
  width: 100%;
  height: auto;
}
.neko-logo-container p {
  color: #F9EDDC;
}
.psdh-logo-bg {
/*  background-color: orange;*/
  width: 100%;
  height: 53vw;
  min-height: 640px;
  background-image: url("../images/logos/psdh-bg.png");
}
.psdh-logo-container {
  width: 50vw;
  height: auto;
  min-width: 290px;
  min-height: auto;
  position: relative;
  top: 90px;
  left: 10vw;
/*  background-color: red;*/
}
.psdh-logo-container img {
  width: 70%;
  min-width: 270px;
  height: auto;
}
.psdh-logo-container p {
  color: #F9EDDC;
}

/*GMU*/
.gmu-container {
  margin: 0px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  width: calc(100% - 250px);
  margin-left: 118px;
  margin-right: 118px;
  margin-top: 20px;
}

.new-image-cont img {
  width: 100%;
  display: block;
  aspect-ratio: 4/5;
  object-fit: cover;
  border-radius: 1%;
}

.square-image-cont img {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1%;
}


/*TEMPEST*/
.tempest-image, .tempest-video {
  width: 30%;
  max-width: 400px;
  min-width: 260px;
  margin-bottom: 100px;
  height: auto;
}
.tempest-image {
  margin-left: 10%;
  margin-right: 60px;
}
#tempest-label {
  margin-bottom: 70px;
}

/*NAVY CATS*/
.iframe-wrap-desktop-1 {
  width: 80vw;
  height: 44.8vw;
  margin: 0px auto;
  margin-bottom: 100px;
}
.iframe-wrap-desktop-2 {
  width: 80vw;
  height: 45vw;
  margin: 0px auto;
  margin-bottom: 100px;
}
.iframe-wrap-mobile {
  width: 12.81vw;
  height: 34.16vw;
  margin-left: 10vw;
  margin-bottom: 50px;
  float: left;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}
/*MY BRAND*/
.slide-wrap {
  width: 100%;
  height: 1500px;
}
.slide-wrapper {
  width: 75vw;
  height: auto;
  margin: 0px auto;
  margin-bottom: 50px;
}
.slide-wrapper img {
  width: 100%;
  border: 1px solid #2c2130;
}

/*REDIRECT*/
.presentation-wrap {
  width: 100%;
  height: flex;
}
.presentation-image-wrap {
  width: 61vw;
  height: flex;
  margin: 0px auto;
  margin-bottom: 50px;
}
.presentation-image-wrap img {
  width: 100%;
  height: 100%;
}

/*FILM POSTER*/
.poster-container {
  width: 100vw;
  height: 1600px;
/*  background-color: blue;*/
  padding-top: 100px;
}
.poster-wrapper {
  width: 35%;
  margin-left: 10%;
  float: left;
}
.poster-wrapper img {
  width: 100%;
  max-width: 500px;
  min-width: 280px;
}
.poster-desc {
  margin-left: 5vw;
  margin-right: 20px;
  float: left;
/*  background-color: purple;*/
}
.poster-wrapper-2 {
  width: 80%;
  height: 500px;
  margin-left: 10%;
  margin-top: 100px;
/*  background-color: blue;*/
  float: left;
}
.poster-wrapper-2 img {
  width: 100%;
  max-width: 300px;
  margin-right: 2vw;
  margin-bottom: 40px;
  height: auto;
}
.poster-subtitle {
  width: 400px;
  margin-bottom: 30px;
}
.poster-brief {
  width: 600px;
  margin-top: 0;
/*  background-color: green;*/
}

/*FOOTER*/
.footer-container {
  padding: 0;
  margin: 0;
  background-color: #1D1F5A;
  /*padding-bottom: 4rem;*/
}
.footer {
  padding: 0;
  margin: 0;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 30px;
  /*background-color: blue;*/
}
.footer-heading-footer-1, .footer-heading-footer-2, .footer-heading-footer-3, .footer-heading-footer-4, .footer-heading-footer-5 {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  margin-top: 50px;
}
/*.footer-heading-footer-3 {
  background-color: red;
}*/
.footer-heading-footer-5 {
  display: inline-block;
}
.footer-heading-footer-4 p {
  padding: 0;
  margin: 0;
  color: #CAA1EB;
  font-family: "gantari", sans-serif;
  font-size: 20px;
}
h6 {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  font-size: 23px;
  color: #CAA1EB;
}
.footer-heading-footer-1 img {
  width: 150px;
  height: auto;
  position: relative;
  top: 0px;
  left: 0;
}
.icon-container {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
}
.footer-heading-footer-5 img {
  width: 100%;
  height: auto;
}
.quick-links {
  font-family: "gantari", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

/*PRIDE*/
.pride-container {
  width: 100%;
  height: 1000px;
/*  background-color: green;*/
}
.pride-wrapper-1 {
  width: 35%;
  max-width: 500px;
  min-width: 260px;
  margin-left: 10%;
/*  background-color: red;*/
  float: left;
}
.pride-wrapper-1 img {
  width: 100%;
}
.pride-wrapper-2 {
  width: 35%;
  max-width: 500px;
  min-width: 260px;
  margin-left: 10%;
/*  background-color: blue;*/
  float: left;
}
.pride-wrapper-2 img {
  width: 100%;
}
/*PSEUDO CLASSES*/
/*h1:hover {
  color: #ffd137;
}*/
a {
  text-decoration: none;
}
a:link {
  color: #1D1F5A;
  transition: 0.4s;
}
/* visited link */
a:visited {
  color: #1D1F5A;
}
/* mouse over link */
a:hover {
  color: #CAA1EB;
}
/* selected link */
a:active {
  color: #92D2F5;
}
.game-link:link {
  text-decoration: underline;
  color: #F9EDDC;
  transition: 0.4s;
}
.game-link:hover {
  color: #92D2F5;
}
.case-study-text a {
  color: #F9EDDC;
}
.case-study-text a:hover {
  color: #DCB6D7;
}
.button:link {
  color: #1D1F58;
  background-color: #CAA1EB;
}
.button:hover {
  color: #1D1F58;
  background-color: #92D2F5;
}
.quick-links a {
  color: #FFFBF3;
}
.quick-links a:link {
  color: #FFFBF3;
}
.quick-links a:hover {
  color: #92D2F5;
}
/* width */
::-webkit-scrollbar {
  display: none;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1686px) {
  .poster-container {
    height: 2100px;
  }
  .poster-wrapper {
    margin-bottom: 50px;
  }
  .poster-wrapper-2 {
    width: 700px;
    float: left;
  }
}

@media screen and (max-width: 1310px) {
  .poster-container {
    height: 2850px;
  }
  .poster-wrapper {
    float: none;
  }
  .poster-desc {
    float: none;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1141px) {
  .content-wrap {
    margin-left: 3vw;
  }
  .tempest-video, .tempest-image {
    margin-left: 3vw;
  }
  .poster-wrapper, .poster-desc {
    margin-left: 3vw;
  }
  ul {
    font-size: 16px;
  }
}

/*KEEP*/
@media screen and (max-width: 1031px) {
  .slogan h1 {
    font-size: 70px;
  }
  #visual-designer {
    font-size: 30px;
  }
  .section-wrap {
    float: left;
    margin-top: 50px;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .double-text p {
    font-size: 18px;
  }
}

@media screen and (max-width: 910px) {
  .content-wrap {
    display: inline-block;
  }
  .left, .right {
    width: 100%;
  }
  .right img {
    margin-bottom: 0;
  }
}

/*KEEP*/
@media screen and (max-width: 765px) {
  .dropbtn {
    font-size: 20px;
  }
  .sections li {
    font-size: 20px;
  }
  .grid-item h3 {
    font-size: 20px;
  }
  .grid-item h6 {
    font-size: 15px;
  }
}

@media screen and (max-width: 740px) {
  .dropbtn {
    padding: 25px 30px;
    margin-right: 0;
  }
  .dropdown-content {
    position: absolute;
    right: 0px;
  }
  .logo {
    margin-left: 20px;
  }
  .tempest-image {
    margin-bottom: 60px;
  }
  .presentation-image-wrap {
    width: 95%;
    margin-bottom: 0;
  }
  .presentation-image-wrap img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .sub-page-label, .campaign-title {
    margin-left: 3vw;
  }
  .sub-page-label h2 {
    font-size: 40px;
  }
  .campaign-title h3{
    font-size: 25px;
  }
  .sections-wrap, .projects-wrap, .gmu-container {
    width: calc(100% - 6vw);
    margin-left: 3vw;
    margin-right: 3vw;
    grid-template-columns: none;
  }
  .projects-wrap img {
    width: 100%;
  }
  .sections-wrap, .projects-wrap, .gmu-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 5px;
  }
/*  .bottom-left {
    font-size: 18px;
  }*/
}

@media screen and (max-width: 630px) {
  .logo-home {
    margin-top: 0;
    width: 200px;
    float: none;
  }
  .slogan {
    margin-top: 40px;
    margin-left: 40px;
  }
  .section-wrap {
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .sections {
    float: none;
    margin-top: 0;
    margin-bottom: 0;
  }
  .double-wrap {
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(auto, auto);
    margin-top: 0px;
  }
  .double-text {
    margin-top: 20px;
  }


@media screen and (max-width: 580px) {
  .footer {
    justify-content: left;
  }
  .footer-heading-footer-1 {
    margin-left: 0;
  }
  .footer-heading-footer-3 {
    margin-top: 0;
  }
}

@media screen and (max-width: 380px) {
  .neko-logo-container, .psdh-logo-container {
    left: 7vw;
  }
}
