* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #2C2230;
  font-family: "Noto Sans KR", serif;
  font-weight: 300;
  font-style: normal;
  overflow: hidden;
}

/*header styles*/
header {
  width: 100vw;
  font-weight: 800;
  font-size: 15px;
  text-transform: uppercase;
  display: flow-root;
  margin: 0px auto;
  background-color: #2C2230;
  position: fixed;
  top: 0px;
  z-index: 3;
}
nav {
  float: left;
}

#logo {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  float: left;
}
/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}
.dropbtn {
  background-color: transparent;
  font-size: 16px;
  border: none;
  padding: 30px 60px;
  margin-right: 20px;
  font-family: "Noto Sans KR", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  color: #CEB7CB;

}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-size: 16px;
  display: none;
  position: absolute;
  background-color: #3E3045;
  font-family: "Noto Sans KR", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  min-width: 173px;
  z-index: 1;

  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out;
}

.dropbtn > .link:focus + .dropdown-content {
  opacity: 1;
  transform: translateY(0);
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #CEB7CB;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #CEB7CB;
  color: #3E3045;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  text-decoration: underline;
  color: #FFD137;
}
.cursor {
  width: 30px;
  height: 30px;
  border: none;
  background-color: red;
  border-radius: 50%;
}
.glowing-butterfly {
  width: 100px;
  height: auto;
  position: absolute;
  top: 300px;
  left: 1255px;
  z-index: 2;
  transform: rotate(-20deg);

  animation-name: glowing-butterfly;
  animation-duration: 2s;
}
@keyframes glowing-butterfly {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.title-bg {
  width: 100vw;
  height: 600px;
  background-color: #2C2230;
}
#title-container {
  positon: absolute;
  margin-top: auto;
  position: absolute;
  top: 280px;
  left: 150px;
/*  background-color: red;*/
}
.title {
  animation-name: title;
  animation-duration: 1s;
}
@keyframes title {
  0% { 
    transform: translate3d(0, 100%, 0);
    opacity: 0%; 
  }
  100% { 
    transform: translate3d(0, 0, 0);
    opacity: 100%; 
  }
}
.skills-bg {
  width: 100vw;
  height: 250px;
  background-color: #3E3045;
}
.skills-wrapper {
/*  background-color: blue;*/
  max-width: 1500px;
  height: 150px;
  margin-left: 150px;
  padding-top: 50px;
}
.skills-container {
  height: 100%;
  width: 300px;
/*  background-color: red;*/
  float: left;
}
.icon-container {
  height: 90px;
  width: 100%;
/*  background-color: green;*/
}
.website-icon {
  height: 90px;
}
#html-icon {
  height: 50px;
}
.icon-desc {
  font-size: 25px;
  line-height: 1.3;
}
.about-me-bg {
  width: 100vw;
  height: 550px;
  background-color: #2C2230;
}
#about-me {
  font-family: "Noto Sans KR", serif;
  font-weight: 200;
  font-size: 58px;
  color: #CEB7CB;
  position: absolute;
  top: 1050px;
  left: 20px;
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
}
#about-me-text {
  position: relative;
  top: 80px;
  max-width: 650px;
  margin-left: 43vw;
  margin-right: 50px;
/*  background-color: red;*/
}
h1 {
  font-family: "Noto Sans KR", serif;
  font-weight: 200;
  font-size: 120px;
  color: #CEB7CB;
  margin: 0px auto;
  padding: 0px;
}
h2 {
  font-family: "Noto Sans KR", serif;
  font-weight: 100;
  font-size: 60px;
  text-transform: uppercase;
  color: #CEB7CB;
  margin: 0px auto;
  padding: 0px;
}
h3 {
  font-family: "Noto Sans KR", serif;
  font-weight: 100;
  font-size: 40px;
  color: #CEB7CB;
  margin: 0px auto;
  padding: 0px;
}
h4 {
  font-family: "Noto Sans KR", serif;
  font-weight: 350;
  font-size: 30px;
  margin-top: 60px;
  margin-right: 40px;
  float: right;
}
h5 {
  font-family: "Noto Sans KR", serif;
  font-weight: 350;
  font-size: 30px;
  color: #CEB7CB;
}
p {
  font-family: "Noto Sans KR", serif;
  font-weight: 350;
  font-size: 20px;
  line-height: 2;
  color: #CEB7CB;
}
#company-name {
  position: absolute;
  top: 400px;
  left: -275px;
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
/*  animation: glow 2s ease-in-out infinite alternate;*/
}
#my-name {
  font-size: 16px;
  float: right;
  font-weight: 400;
  position: absolute;
  top: 30px;
  right: 60px;
  z-index: 3;
}
#gmu-title {
  position: absolute;
  top: 150px;
  left: -46px;
}
#classwork-title {
  position: absolute;
  top: 260px;
  left: -150px;
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
}
.label-wrapper {
  margin-top: 115px;
  margin-left: 200px;
  margin-bottom: 0px;
}
.sub-page-label {
  margin-bottom: 60px;
}

/*GMU*/
.expandable {
  --xy-padding: 20px 40px;
  --border-radius: 6px;

  max-width: 80%;
  margin: 1em 0;
  font-family: "Noto Sans KR", serif;
  font-weight: 400;
  font-size: 16px;
  color: #CEB7CB;
  margin-top: 115px;
  margin-left: 200px;
}
/*.expandable-open .expandable-content-wrapper {
  grid-template-rows: 1fr;
}*/
.expandable-title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--xy-padding);
  user-select: none;
  background-color: #3E3045;
  color: #CEB7CB;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  cursor: pointer;
}
.expandable-title {
  font-family: "Noto Sans KR", serif;
  font-weight: 300;
  font-size: 40px;
}
.expandable-content {
  padding: 0 var(--xy-padding);
  lineheight: 1.4;
  font-size: 16px;
  border: 1px solid #3E3045;
  border-top: none;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  overflow: hidden;
}
/*.expandable-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}
.new-ratio {
  aspect-ratio: 4/5;
  display: flex;
  align-items: center;
  background-color: #1E1E1E;
  color: #fff;
}
.new-ratio img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.old-ratio {
  aspect-ratio: 1:1;
  display: flex;
  align-items: center;
  background-color: #1E1E1E;
  color: #fff;
}
.old-ratio img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/*CLASSWORK*/
.section-wrapper {
  max-width: 850px;
  margin-top: 200px;
  margin-left: 43vw;
  margin-right: 50px;
}
.year-wrapper {
  width: 25%;
  float: left;
  margin-bottom: 60px;
}
.list-wrapper {
  width: 75%;
  float: left;
  margin-bottom: 60px;
}
.year {
  margin: 0px;
  margin-top: 10px;
  float: left;
  color: #CEB7CB;

  animation-name: year;
  animation-duration: 1s;
}
@keyframes year {
  0% { 
    transform: translate3d(0, 100%, 0);
    opacity: 0%; 
  }
  100% { 
    transform: translate3d(0, 0, 0);
    opacity: 100%; 
  }
}
ul {
  font-family: "Noto Sans KR", serif;
  font-weight: 350;
  font-size: 30px;
  color: #CEB7CB;
  margin: 0px;
  line-height: 2;
}

/*TYPE CLASS CARDS*/
.grid-wrapper {
  max-width: 80%;
  margin-left: 200px;
  margin-right: 50px;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
}
.card-grid img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
/*OTHER*/
.bib-wrapper, .menu-wrapper, .redirect-wrapper, .moth-wrapper {
  max-width: 80%;
  margin-left: 200px;
}
.bib-wrapper img {
  width: 100%;
  margin-bottom: 30px;
}
.menu-wrapper img {
  width: 100%;
  margin-bottom: 30px;
}
.moth-wrapper img {
  width: 100%;
  margin-bottom: 30px;
}

/*SOCIAL MEDIA*/
.sm-grid-wrapper {
  max-width: 80%;
  margin-left: 200px;
  margin-right: 50px;
}
.sm-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}
/*PSEUDO CLASSES*/
a {
  text-decoration: none;
}
a:link {
  color: #CEB7CB;
}
/* visited link */
a:visited {
  color: #CEB7CB;
}
/* mouse over link */
a:hover {
  color: #ffd137;
}
/* selected link */
a:active {
  color: #a443b3;
}
/*#logo:hover {
  opacity: 0%;
}*/
/*MEDIA QUERIES*/
@media screen and (max-width: 1350px) {
  .skills-container {
    width: 260px;
  }
@media screen and (max-width: 1303px) {
  .glowing-butterfly {
    position: absolute;
    top: 470px;
    left: 510px;
  }
  .title-bg {
    height: 780px;
  }
  .skills-bg {
    height: 200px;
  }
  .skills-wrapper {
/*    background-color: blue;*/
    padding-top: 40px;
  }
  .skills-container {
    height: 100%;
    width: 200px;
/*    background-color: red;*/
    float: left;
  }
  .icon-container {
    height: 60px;
    width: 100%;
/*    background-color: green;*/
  }
  .website-icon {
    height: 60px;
  }
  #html-icon {
    height: 40px;
  }
  .icon-desc {
    font-size: 20px;
  }
  #about-me {
    top: 1180px;
  }
  #about-me-text {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1098px) {
  .expandable {
    margin-left: 150px;
  }
  .section-wrapper {
    margin-left: 200px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .list-wrapper {
    width: 100%;
  }
  .year {
    margin-bottom: 0px;
  }
  h4 {
    margin-top: 120px;
    margin-right: 40px;
    float: right;
  }
}
@media screen and (max-width: 949px) {
  .skills-bg {
    height: 370px;
  }
  .skills-wrapper {
/*    background-color: blue;*/
    width: 400px;
    height: 200px;
  }
    #about-me {
    top: 1350px;
  }
}
@media screen and (max-width: 860px) {
  .glowing-butterfly {
    position: absolute;
    top: 260px;
    left: 330px;
  }
  .title-bg {
    height: 880px;
  }
  #about-me {
    top: 1450px;
  }
}
@media screen and (max-width: 833px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 715px) {
  #title-container {
    left: 30px;
  }
  .glowing-butterfly {
    position: absolute;
    top: 260px;
    left: 210px;
  }
  .skills-wrapper {
/*    background-color: blue;*/
    margin-left: 70px;
  }
  .skills-container {
    width: 200px;
  }
  #about-me {
    transform: none;
    top: 1300px;
    left: 30px;
  }
  #about-me-text {
    margin-left: 30px;
    top: 150px;
  }
  p {
    font-size: 20px;
  }
  #company-name {
    opacity: 0%;
  }
  .section-wrapper {
    margin-left: 50px;
  }
  .expandable {
    margin-left: 50px;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }
  ul {
    font-size: 24px;
  }
  .grid-wrapper, .label-wrapper, .bib-wrapper, .moth-wrapper {
    margin-left: 50px;
  }
}

/* width */
::-webkit-scrollbar {
  display: none;
}


/*.spin {
  width: 300px;
  height: 300px;
  background-color: blue;

  animation-name: spin;
  animation-duration: 3s;
}
@keyframes spin {
  0% {

  }
  50% {
    scale: 2;
    transform: rotate(0); /*makes the square grow and then rotate*/
/*    border-radius: 0; *//*makes the square grow and then rotate*/
  }
/*  100% {
    transform: rotate(360deg);
    border-radius: 50%;*/
  }
}/*